<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
<!--<script>-->
<!--    history.pushState(null, document.title, location.href);-->
<!--    history.back();-->
<!--    history.forward();-->
<!--    window.apostate = function () {-->
<!--        history.go(1);-->
<!--    };-->
<!--</script>-->
    <style>
 just{
        text-align: justify;
text-justify: inter-word;
        }
        .footer {
        clear: both;
        position: absolute;
        bottom: 10px;
        clear: both;
        width: 1500px;
        }
            .btn-space {
        margin-right: 15px;
    }
            .buttons-flex {
                 display: -webkit-flex;
                 display: flex;
                 -webkit-justify-content: space-between;
                 justify-content: space-between;
             }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js" defer></script>
    <title>Question 7</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand">Unmasked Decryption Challenge</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
            <div class="mx-2">
                 <button><a href="/leader">Submit Test Now</a></button>
            </div>
        </div>
   </nav>
<br><br><br>
  <div>
      {% block content %}

   {% for context in context %}
    <button> Current Marks :  {{context.totalmarks}}
    </button>
          <button>
              Question 7 : {{context.marks7}}
          </button>
  {% endfor %}
 {% endblock %}

       <button class="just" style="background-color:#FA7070;">Hard</button>
</div>

<hr>

<div style="margin:auto " align="center">

                <div>
                    <h5 >Question 7</h5>
                </div>
                <div>
                    <form method="POST" id="question">
                          {% csrf_token %}


                        <div class="card" style="width:1200px;">
                          <div class="card-body">
                              <div>
                            <label for="questionans">   Amit and Mamta are couples and are celebrating Mamta's birthday. Mamta is lucky enough as she was born in the same year when c language was developed (It was a leap year). They have two sons Kamrit and Jatin. Kamrit is 6 years elder than Jatin. Amit's age is equal to sum of his name's character's ascii value (all in lower case) divided by number N . Kamrit has a daughter Jeevi 16 years old and a son Prashant 12 years old. Kamrit's age is and even number and is equal to Subnet Mask of Class A IP addressing divided by number N. You have to form a complete binary tree(Tree Node contains First Letter of names of people in lower case) such that their inorder traversal is ordered in ascending order ( Ascending order of their Age , tree formed doesnt guarentee that the immediate child node or parent node are actually parent and child). Now once you have formed a tree, you have to find its vertical order traversal.
The Sequence of character are then hashed using modified ceaser cipher technique, here the modification is such that key is different for each character , key of each character is the ascii value of the last character of the corresponding person's name (For example Lets say Zebra is person then z will be hashed with key value = ascii value of a). The final key obtained is the key to heaven could you guess the key ???

(Number N is number of layers in OSI Model)


</label><hr>
                            <input type="text" class="form-control" id="questionans" name="questionans" required>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit" name="form1">
                        <button type="reset" class="btn btn-primary my-4">Reset</button>
                          </div>
                        </div>


                    </form>


                </div>
  </div>

             <div align="center" class="footer">
                    <button class="btn-space  btn " style="background-color:#E0F4FF"><a href="/question1" style="text-decoration: none;">Question 1</a></button>
                     <button class="btn-space  btn " style="background-color:#E0F4FF"><a href="/question2"  style="text-decoration: none;">Question 2</a></button>
                      <button class="btn-space  btn " style="background-color:#E0F4FF"><a href="/question3" style="text-decoration: none;">Question 3</a></button>
                      <button class="btn-space  btn " style="background-color:#E0F4FF"><a href="/question4" style="text-decoration: none;">Question 4</a></button>
                      <button class="btn-space  btn " style="background-color:#E0F4FF"> <a href="/question5" style="text-decoration: none;">Question 5</a></button>
                      <button class="btn-space  btn " style="background-color:#E0F4FF"><a  href="/question6" style="text-decoration: none;">Question 6</a></button>
                      <button class="btn-space btn" style="background-color:#E0F4FF"><a  href="/question7" style="text-decoration: none;">Question 7</a></button>

            </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>